/************  Reset styles *************/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
    --color-light: #ffffff;
    --color-gray-light: #e5e5e5;
    --color-dark-light: #F7F3F0;
    --color-gray: #383838;
    --color-light-gray: #737373;
    --color-dark: #131313;
    --color-dark-gold: #D3A863;
    --color-dark-gold-hover: #7e643b;
    --color-dark-red: #C74817;
    --color-red: #EE2852;
    --color-dark-red: #a61c39;
    --transition-duration: 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6;
    background: var(--color-dark-light);
    color: var(--color-gray);
}

svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.button {
    padding: 15px 25px;
    border: none;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 310px;   
}


/***************  HEADER  ****************/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-dark-light);
}

.header-logo-image {
    padding-block: 35px;
}

.header-navigation {
    display: flex;
    gap: 50px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-gray);
}

.header-link span {
    color: var(--color-red);
}

.header-link:hover {
    color: var(--color-light-gray);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-basket {
    display: flex;
    align-items: center;
    height: 117px;
}

.svg-basket {
    width: 20px;
    height: 20px;
}

.header-button {
    font-size: 14px;
    background: var(--color-dark-gold);
}

.header-button:hover {
    background: var(--color-dark-gold-hover);
}

/***************  HERO SECTION  ******************/

.hero {
    background-image: url("../image/hero-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 970px;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    align-items: center;
    
}

.hero-title {
    font-size: 18px;
    letter-spacing: 0.28em;
    color: var(--color-dark);
    margin-bottom: 6px;
}

.hero-subtitle {
    font-size: 136px;
    margin-bottom: 6px;
}

.hero-text {
    width: 500px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 40px;
}

.hero-button {
    width: 170px;
    height: 60px;
    background: var(--color-red);
}

.hero-button:hover {
    background: var(--color-dark-red);
}

.hero-image {
    position: relative;
    top: 15px;
    right: 100px;
    width: 759px;
    height: 805px;
}

.hero-image-honey {
    position: relative;
    top: -50px;
    right: 250px;
}

.button-chat {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 107px;
    height: 50px;
    border-radius: 30px;
    background: var(--color-red);
}

.button-chat:hover {
    background: var(--color-dark-red);
}

.button-chat-svg {
    width: 20px;
    height: 20px;
}

.button-chat-text {
    font-size: 15px;
    letter-spacing: 0.04em;
}

/****************  MISSION SECTION  *******************/

.mission-container {
    display: flex;
    gap: 80px;
    padding-block: 40px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-content-video {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 28px;
}

.video-button {
    position: absolute;
    top: 110%;
    left: 34%;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    aspect-ratio: 1;
    background-color: var(--color-light);
}

.button-svg {
    width: 30px;
    height: 30px;
}

.video-button:hover {
    background-color: var(--color-gray-light);
}

.left-title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.left-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 30px;
}

.right-content {
    display: flex;
    flex-direction: column;
    padding-inline: 25px;
    background: var(--color-light);
}

.right-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 17px;
    font-size: 36px;
    text-transform: uppercase;
}

.right-news {
    padding-top: 7px;
    padding-left: 15px;
}

.right-subtitle {
    color: #c74817;
    margin-bottom: 5px;
}

.right-title-name {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 14px;
}

.right-subtitle-name {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-gray);
    margin-bottom: 44px;
}

.right-link {
    font-size: 13px;
    line-height: 2.15385;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-dark);
}

.right-link svg {
    width: 14px;
    height: 13px;
    fill: currentColor;
}

/******************** PRODUCTS SECTION *************************/

.products {
    background-image: url("../image/products-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 855px;
    display: flex;
    align-items: center;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.products-title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-dark);
}

.products-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--color-gray);
}

.products-card-list {
    display: flex;
    gap: 80px;
}

.products-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products-card-title {
    font-size: 26px;
    text-transform: uppercase;
    color: var(--color-dark);
}

.products-card-price {
    font-size: 22px;
    color: var(--color-dark-red);
}

.products-card-subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-gray);
}

.products-add {
    display: flex;
    align-items: center;
    gap: 15px;
}

.products-add-svg {
    width: 19px;
    height: 28px;
}