/************  Reset styles *************/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
    --color-light: #ffffff;
    --color-gray-light: #e5e5e5;
    --color-dark-light: #F7F3F0;
    --color-gray: #383838;
    --color-light-gray: #737373;
    --color-dark: #131313;
    --color-dark-gold: #D3A863;
    --color-dark-gold-hover: #7e643b;
    --color-orange: #C74817;
    --color-red: #EE2852;
    --color-dark-red: #a61c39;
    --transition-duration: 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6;
    background: var(--color-dark-light);
    color: var(--color-gray);
}

svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.button {
    padding: 15px 25px;
    border: none;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light);
    background: var(--color-red);
}

.button:hover {
    background: var(--color-dark-red);
}

.title {
    text-transform: uppercase;
    color: var(--color-dark);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 310px;   
}


/***************  HEADER  ****************/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-dark-light);
}

.header-logo-image {
    padding-block: 35px;
}

.header-navigation {
    display: flex;
    gap: 50px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-gray);
}

.header-link span {
    color: var(--color-red);
}

.header-link:hover {
    color: var(--color-light-gray);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-basket {
    display: flex;
    align-items: center;
    height: 117px;
}

.svg-basket {
    width: 20px;
    height: 20px;
}

.header-button {
    font-size: 14px;
    background: var(--color-dark-gold);
}

.header-button:hover {
    background: var(--color-dark-gold-hover);
}

/***************  HERO SECTION  ******************/

.hero {
    background-image: url("../image/hero-bg.webp");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 970px;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    align-items: center;
    
}

.hero-title {
    font-size: 18px;
    letter-spacing: 0.28em;
    color: var(--color-dark);
    margin-bottom: 6px;
}

.hero-subtitle {
    font-size: 136px;
    margin-bottom: 6px;
}

.hero-text {
    width: 500px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 40px;
}

.hero-button {
    width: 170px;
    height: 60px;
}

.hero-image {
    position: relative;
    top: 15px;
    right: 100px;
    width: 759px;
    height: 805px;
}

.hero-image-honey {
    position: relative;
    top: -50px;
    right: 250px;
}

.button-chat {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 107px;
    height: 50px;
    border-radius: 30px;
}

.button-chat-svg {
    width: 20px;
    height: 20px;
}

.button-chat-text {
    font-size: 15px;
    letter-spacing: 0.04em;
}

/****************  MISSION SECTION  *******************/

.mission-container {
    display: flex;
    gap: 80px;
    padding-block: 40px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.left-content-video {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 28px;
}

.video-button {
    position: absolute;
    top: 108%;
    left: 36%;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    aspect-ratio: 1;
    background-color: var(--color-light);
}

.button-svg {
    width: 30px;
    height: 30px;
}

.video-button:hover {
    background-color: var(--color-gray-light);
}

.left-title {
    font-size: 36px;
    margin-bottom: 6px;
}

.left-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 30px;
}

.right-content {
    display: flex;
    flex-direction: column;
    padding-inline: 25px;
    padding-bottom: 20px;
    background: var(--color-light);
}

.right-title {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 17px;
    font-size: 36px;
}

.right-subtitle {
    color: var(--color-orange);
    margin-bottom: 5px;
}

.right-title-name {
    font-size: 22px;
    margin-bottom: 14px;
}

.right-subtitle-name {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-gray);
    margin-bottom: 44px;
}

.right-link {
    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-dark);
}

.right-link:hover {
    scale: 1.5;
}

/******************** PRODUCTS SECTION *************************/

.products {
    background-image: url("../image/products-bg.webp");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 855px;
    display: flex;
    align-items: center;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.products-title {
    font-size: 48px;
    text-align: center;
}

.products-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--color-gray);
}

.products-card-list {
    display: flex;
    gap: 80px;
}

.products-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products-card-title {
    font-size: 26px;
}

.products-card-price {
    font-size: 22px;
    color: var(--color-orange);
}

.products-card-subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-gray);
}

.products-add-basket {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
    color: var(--color-dark);
}

.products-add-svg {
    width: 19px;
    height: 28px;
}


/******************* FEEDBACK-SECTION **********************/

.feedback {
    background-image: url(../image/review-bg.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 717px;
    display: flex;
    align-items: center;
}

.feedback-section {
    display: flex;
    gap: 75px;
}

.feedback-image {
    max-width: 312px;
    height: 333px;
}

.feedback-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-text {
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    color: var(--color-light-gray);
    margin-bottom: 38px;
}

.feedback-title {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 17px;
}

.feedback-subtitle {
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-orange);
}


/*********************** GALLERY-SECTION ***************/

.gallery-container {
    padding-bottom: 50px;
}

.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-title {
    font-size: 48px;
    margin-bottom: 17px;
}

.gallery-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-light-gray);
    text-align: center;
    margin-bottom: 30px;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 18px;
}


/******************* SUBSCRIBE-SECTION *********************/

.subscribe {
    background-image: url(../image/subscribe-bg.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1355px;
    display: flex;
    align-items: center;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
}

.up-content {
    display: flex;
    gap: 60px;
}

.subscribe-up-image {
    max-width: 591px;
    height: 617px;
}

.up-content-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-up-tilte {
    font-size: 48px;
    margin-bottom: 17px;
}

.subscribe-up-subtitle {
    width: 515px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-light-gray);
    margin-bottom: 55px;
}

.input {
    display: flex;
    gap: 40px;
}

.subscribe-input {
    border: 1px solid #545050;
    padding: 18px 21px 19px;
    width: 418px;
    height: 62px;
}

.down-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-down-title {
    font-size: 48px;
}

.subscribe-down-subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-gray);
    margin-bottom: 50px;
}

.subscribe-card-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.subscribe-card-item {
    display: flex;
    gap: 44px;
    background-color: var(--color-light);
    padding: 29px 54px;
}

.subscribe-card-image {
    max-width: 156px;
}

.subscribe-card-content {
    display: flex;
    flex-direction: column;
}

.subscribe-card-title {
    font-size: 26px;
    margin-bottom: 10px;
}

.subscribe-card-subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-gray);
    margin-bottom: 15px;
}

.subscribe-card-link {
    max-width: 120px;
    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-orange);
}

.subscribe-card-link:hover {
    scale: 1.1;
}


/*****************************  FOOTER  **************************/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-social-list {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}

.footer-social-link {
    width: 25px;
    height: 25px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-orange);
}

.footer-social-icon {
    width: 25px;
    height: 25px;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 2.5;
    color: var(--color-dark);
}